@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic);
@import url(https://fonts.googleapis.com/css?family=Overpass);

html, body {
	height: 100%;
	font-family: 'Open Sans', 'sans-serif';
}
// TOP BAR
.container {
	display: none;
	height: 100%;
}
.browser-frame {
	margin-top: 48px;
	cursor: not-allowed;
	margin-left: auto;
	margin-right: auto;
	min-width: 1300px;
	max-width: 1300px;
	zoom: 0.9;
}

.browser-frame-top-bar {
	display: table;
}

.browser-frame-top-bar-row {
	display: table-row;
	height: 50px;
}

.browser-frame-top-bar-left {
	display: table-cell;
	background: no-repeat url('media/top-bar-left.png');
	background-size: contain;
	width: 400px;
}

.browser-frame-top-bar-input {
	display: table-cell;
	background: no-repeat url('media/top-bar-input.png');
	background-size: contain;
	width: 540px;
}

.browser-frame-top-bar-right {
	display: table-cell;
	background: no-repeat url('media/top-bar-right.png');
	background-size: contain;
	width: 360px;
}

.browser-frame-top-bar-input-url {
	line-height: 50px;
	max-width: 500px;
}

// CONTENT
.browser-frame-content {
	display: none;
	height: 600px;
}

.browser-frame-background {
	display: block;
	background: no-repeat url('media/bg.png');
	background-size: contain;
	width: 1300px;
	height: 600px;
}

.browser-frame-content-header {
	background: no-repeat url('media/content-header.png');
	background-size: contain;
	height: 303px;
}

.browser-frame-content-footer {
	background: no-repeat url('media/content-footer.png');
	background-size: contain;
	height: 235px;
}

.browser-frame-content-search-bar {
	display: table;
}

.browser-frame-content-search-bar-row {
	display: table-row;
	height: 62px;
}

.browser-frame-content-search-bar-left {
	display: table-cell;
	background: no-repeat url('media/content-search-bar-left.png');
	background-size: contain;
	width: 360px;
}

.browser-frame-content-search-bar-input {
	display: table-cell;
	background: no-repeat url('media/content-search-bar-input.png');
	background-size: contain;
	width: 335px;
}

.browser-frame-content-search-bar-input-text {
	font-size: 16pt;
	line-height: 62px;
}


.browser-frame-content-search-bar-right-left {
	display: table-cell;
	background: no-repeat url('media/content-search-bar-right-left.png');
	background-size: contain;
	width: 39px;
}

.browser-frame-content-search-bar-right-button {
	display: table-cell;
	background: no-repeat url('media/content-search-bar-right-button.png');
	background-size: contain;
	width: 70px;
}

.browser-frame-content-search-bar-right {
	display: table-cell;
	background: no-repeat url('media/content-search-bar-right.png');
	background-size: contain;
	width: 496px;
}

.fake-mouse {
	position: fixed;
	display: none;
	background-image: no-repeat url('media/mouse_arrow');
	height: 21px;
	width: 15px;
}

//INSTRUCTIONS
.search-instructions {
	margin-top: 32px;
	display: table;
	border-spacing: 10px;
	margin-left: auto;
	margin-right: auto;
}
.search-instruction-row {
	display: table-row;
	width: 660px;
}
.search-instruction {
	display: table-cell;
	width: 180px;
	background-color: #C8E6C9;
	border: solid 1px #4CAF50;
	font-size: 14px;
	padding: 1em;
	border-radius: 3px;
}

.search-instruction-one {
	visibility: visible;
}

.search-instruction-two {
	visibility: hidden;
}

.search-instruction-three {
	visibility: hidden;
}

.search-instruction-step-number {
	display: block;
	color: #999999;
}

//** variables
$background: #f5f6fa;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #000;
$button-bg-color: #00C73C;
$button-text-color: #fff;

h1 {
	font-family: 'Nanum Gothic';
	font-size: 76px;
	margin-bottom: 24px;
	color: #212121;
	font-weight: normal;
	text-align: center;
}


//** helper
.container-generator {
	height: 100%;
	background: #f7f7f7;
	color: $text;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.uppercase {
	text-transform: uppercase;
}

//** button
.btn {
	display: inline-block;
	background: transparent;
	color: inherit;
	font-weight: bold;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;

	&--primary {
		background: $button-bg-color;
		color: $button-text-color;
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
		border-radius: 2px;
		padding: 12px 36px;

		&:hover {
			background: darken($button-bg-color, 4%);
		}

		&:active {
			background: $button-bg-color;
			box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
		}
	}

	&--inside {
		margin-left: -96px;
	}
}

//** form
.form {
	&__field {
		width: 360px;
		background: #fff;
		color: $input-text-color;
		font-weight: bolder;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
		border: 0;
		outline: 0;
		padding: 22px 18px;
	}
}
